@import '../shared/scss/vars';
@import '../shared/scss/mixins';

@mixin nav-animation {
  transition: transform .3s ease-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  padding: 5px;
  width: 100%;
  background-color: rgba($color-black, .9);
  transform: translateY(0);

  @include nav-animation;
  @include tablet {
    padding: 15px 0 8px;
  }
}

.nav-up {
  transform: translateY(-$nav-height);

  @include nav-animation;
  @include tablet {
    transform: translateY(-$nav-height-tablet);
  }
}

h1 {
  display: none;
  margin: 18px 0 0 0;
  color: rgba($color-white, 1);
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;

  @include tablet {
    display: block;
    margin: 0 0 5px;
    font-size: 20px;
  }
  @include desktop {
    font-size: 32px;
  }
}

h1.mobile-only {
  display: block;

  @include tablet {
    display: none;
  }
}

h2 {
  display: none;
  color: rgba($color-white, .6);
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 13px;
  line-height: 1;

  @include tablet {
    display: block;
  }
}

.site-width {
  display: flex;
}

nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
    
  ul {
    display: flex;
    list-style: none;
  }
}

.nav-item {
  text-transform: uppercase;
  font-size: 14px;
  font-family: $font-headings;

  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }

  a, a:link, a:visited, a:hover, a:active {
    color: rgba($color-white, .8);
    text-decoration: none;
  }

  a {
    position: relative;
    display: block;
    margin-top: 5px;
    padding: 10px;
    color: rgba($color-white, .8);
    transition: color .3s;

    @include tablet {
      padding: 10px 20px;
    }

    &:after {
      position: absolute;
      top: 10px;
      right: -6px;
      display: none;
      color: rgba($color-white, .3);
      content: '//';

      @include tablet {
        display: block;
      }
    }
  }

  &:last-child a:after {
    display: none;
  }

  a:hover {
    color: rgba($color-link-hover, 1);
    transition: color .3s;
  }

  &.selected a,
  &.selected a:hover {
    color: rgba($color-link, 1);
  }
  
}

.nav-contact {
  display: none;

  @include tablet {
    display: block;
  }
}
