@import '../shared/scss/vars';
@import '../shared/scss/mixins';

:host {
  display: block;
  background: rgba($color-black, .6);
}

.section-contact {
  padding: 60px 0;
}

.site-width > h2 {
  text-align: center;
}

h2, h3, p, li, a {
  color: $color-white;
}

ul {
  padding-left: 30px;
}

.two-columns {
  @include tablet {
    display: flex;
  }
  
  .column {
    padding: 0 20px 20px 20px;

    @include tablet {
      flex-basis: 50%;
      padding: 0;
    }
  }
}

.back-to-top {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  opacity: .8;
  transition: opacity .6s ease-out;

  @include tablet {
    margin-top: 30px;
  }

  &:hover {
    opacity: 1;
    transition: opacity .3s ease-out;
  }
}

.icon-top {
  position: relative;
  top: 18px;
  left: 10px;
  transform: scale(.6);
}